@model LikeFilms.ViewModel.DataViewModel<TvShow>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<vc:statistics></vc:statistics>

<table class="table">
    <thead>
        <tr>
            <th>
                @* @Html.DisplayNameFor(model => model.ImageUrl) *@
                <label>ImageUrl</label>
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.Title) *@
                <a asp-action="Index" asp-route-sortvalue="TitleSort">Title</a>
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.Genre) *@
                <label>Genre</label>
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.Rating) *@
                @* <label>Rating</label> *@
                <a asp-action="Index" asp-route-sortvalue="RatingSort">Rating</a>
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.ImdbUrl) *@
                <label>ImdbUrl</label>
            </th>
            <th>
                <label>Action</label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Data) {
        <tr>
            <td>
                @if (item.ImageUrl is not null && item.ImageUrl.Length>0)
                {
                        <img src="@Url.Content(item.ImageUrl)" alt="@item.Title" style="width:180px;height:250px;" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @* @Html.DisplayFor(modelItem => item.ImdbUrl) *@
                <a href="@item.ImdbUrl" target="_blank">@item.Title</a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@if (Model.TotalPages>=2)
{
    <nav class="">
        <ul class="pagination justify-content-center">
            @if (Model.CurrentPage>1)
            {
                <li class="page-item">
                    <a class="page-link" asp-action="Index" asp-route-id="@(Model.CurrentPage-1) " asp-route-sortvalue="@ViewBag.SortValue" asp-route-byGenre="@ViewBag.ByGenre">Previous</a>
                </li>
            }
            @if (Model.CurrentPage>1)
            {
                <li class="page-item"><a class="page-link" asp-action="Index" asp-route-id="@(Model.CurrentPage-1)" asp-route-sortvalue="@ViewBag.SortValue" asp-route-byGenre="@ViewBag.ByGenre">@(Model.CurrentPage - 1)</a></li>
            }
           
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="#">@Model.CurrentPage</a>
            </li>
            @if (Model.TotalPages>=Model.CurrentPage+1)
            {
                <li class="page-item"><a class="page-link" asp-action="Index" asp-route-id="@(Model.CurrentPage+1)" asp-route-sortvalue="@ViewBag.SortValue" asp-route-byGenre="@ViewBag.ByGenre">@(Model.CurrentPage + 1)</a></li>
            }
            

            @if (Model.TotalPages>=Model.CurrentPage+1)
            {
                <li class="page-item">
                    <a class="page-link" asp-action="Index" asp-route-id="@(Model.CurrentPage+1) " asp-route-sortvalue="@ViewBag.SortValue" asp-route-byGenre="@ViewBag.ByGenre">Next</a>
                </li>
            }            
        </ul>
    </nav>
}

